@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.font-sans {
  font-family: 'Source Sans Pro', ui-sans-serif, system-ui, sans-serif !important;
  overflow-x: hidden  !important;
}

.sora,
.font-sora {
  font-family: 'Sora', sans-serif;
}

.landing-bg {
  background-image: url('/bg-polos.png');
  background-size: 105%; 
}

.login-bg {
  background-image: url('/bg-polos.png');
  background-size: 105%;
}

@media (min-width: 768px) {
  .landing-bg {
    background-image: url('/Frame 3.png');
  }
}

html {
  scroll-behavior: smooth;
}